<div class="QuizTask new" style = "text-align:center">
  <h2>Create Quiz</h2>

 <%= form_for(:quiz_task, :url => {:action => 'create'}) do |f| %>
<table summary=" form fields">
     <tr>
        <th>Name</th> 
		<td><%= f.text_field(:name)%></td>
	</tr>
	<tr>
		<th>About</th>
			<td><%= f.text_area(:about)%></td>
	</tr>

	<div class ="form-buttons">
		<%= submit_tag("Create Quiz")%>
	</div>
 <% end %>
</div>
