<div class="questions delete" style = "text-align:center">
  <h2>Delete Question</h2>

 <%= form_for(:question, :url => {:action => 'destroy', :id=> @question.id}) do |f| %>
 <p> Are you sure you want to permanently delete <%= @question.number %>. </p>
 <div class="form-buttons">
	<%= submit_tag("Delete Question") %>
 </div>
 
<% end %>
</div>